name: CI - Test de l'API

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
        python-version: [3.7]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      #nécéssaire pour faire les tests avec newman (pour les collections postman)
      - name: Install Node JS ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f quiz-api/requirements.txt ]; then pip install -r quiz-api/requirements.txt; fi

      - name: Install Newman dependency
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Make Directory for results
        run: mkdir -p testResults

      - name: Run the server
        run: |
          python quiz-api/src/app.py & 
          sleep 2

      - name: Run Postman collections 1
        run: newman run quiz-api/tests/postman/Collections1.json -e quiz-api/tests/postman/Environment.json --insecure -r htmlextra --reporter-htmlextra-export testResults/htmlreport1.html --reporter-htmlextra-darkTheme
        if: success() || failure()

      - name: Run Postman collections 2
        run: newman run quiz-api/tests/postman/Collections2.json -e quiz-api/tests/postman/Environment.json --insecure -r htmlextra --reporter-htmlextra-export testResults/htmlreport2.html --reporter-htmlextra-darkTheme
        if: success() || failure()

      - name: Run Postman collections 3
        run: newman run quiz-api/tests/postman/Collections3.json -e quiz-api/tests/postman/Environment.json --insecure -r htmlextra --reporter-htmlextra-export testResults/htmlreport3.html --reporter-htmlextra-darkTheme
        if: success() || failure()

      - name: Run Postman collections 4
        run: newman run quiz-api/tests/postman/Collections4.json -e quiz-api/tests/postman/Environment.json --insecure -r htmlextra --reporter-htmlextra-export testResults/htmlreport4.html --reporter-htmlextra-darkTheme
        if: success() || failure()

      - name: Kill server
        run: kill -9 `lsof -i:5000 -t`
        if: success() || failure()

      # Upload the contents of Test Results directory to workspace
      - name: Output the run Details
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: RunReports
          path: testResults
