name: CI - Test de l'API

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [main, test_reporters_ci_cd]
  pull_request:
    branches: [main]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
        python-version: [3.10.4]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      #nécéssaire pour faire les tests avec newman (pour les collections postman)
      - name: Install Node JS ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f quiz-api/requirements.txt ]; then pip install -r quiz-api/requirements.txt; fi

      - name: Install Newman dependency
        run: |
          npm install -g newman
          npm install -g newman-reporter-junitfull

      - name: Make Directory for results
        run: mkdir -p testResults

      - name: Run the server
        run: |
          cd quiz-api && python src/app.py > ../testResults/logs.txt 2> ../testResults/errors.txt & 
          sleep 2

      - name: Run Postman collections 1
        run: newman run quiz-api/tests/postman/Collections1.json -e quiz-api/tests/postman/Environment.json --export-environment quiz-api/tests/postman/Environment.json --insecure -r junitfull --reporter-junitfull-export 'testResults/jest-1.xml'
        if: success() || failure()

      - name: Run Postman collections 2
        run: newman run quiz-api/tests/postman/Collections2.json -e quiz-api/tests/postman/Environment.json --export-environment quiz-api/tests/postman/Environment.json --insecure -r junitfull --reporter-junitfull-export 'testResults/jest-2.xml'
        if: success() || failure()

      - name: Run Postman collections 3
        run: newman run quiz-api/tests/postman/Collections3.json -e quiz-api/tests/postman/Environment.json --export-environment quiz-api/tests/postman/Environment.json --insecure -r junitfull --reporter-junitfull-export 'testResults/jest-3.xml'
        if: success() || failure()

      - name: Run Postman collections 4
        run: newman run quiz-api/tests/postman/Collections4.json -e quiz-api/tests/postman/Environment.json --export-environment quiz-api/tests/postman/Environment.json --insecure -r junitfull --reporter-junitfull-export 'testResults/jest-4.xml'
        if: success() || failure()

      - name: Kill server
        run: kill -9 `lsof -i:5000 -t`
        if: success() || failure()

      # Make a reports of the tests
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: Newman Tests            # Name of the check run which will be created
          path: testResults/jest-*.xml    # Path to test results
          reporter: jest-junit        # Format of test results
